* {
    padding: 0;
    Margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    color: white;
    scroll-behavior: smooth;
}




#headBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    width: 100vw;
    color: black;
    background-color: rgb(0, 59, 0);
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
    
}

.landingArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url(/images/matrix.webp);
    /* background-size: cover; */
    color: Green;
}

.aboutArea, .projectArea, .contactArea {
    /* border: 1px solid black; */
    background-color: #303030;
    padding: 3rem;

}

.projectArea {
    background-color: #404040;
}


.categories {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    /* margin: 2rem; */
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 75vh;
    border: solid 1px black;
    border-radius: 10px;

}

label > input {
    height: 5vh;
    width: 65vw;
}

textarea {
    height: 20vh;
    width: 65vw;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

a {
    text-decoration: none;
    color: white;  
    
}

#goatTakes, #ticTacToe {
    display: flex;
    flex-direction: column;
   /* border: 1px solid black; */
   width: 100%;
    margin-bottom: 10vh;
    align-items: center;
    gap: 25px;
    margin-top: 5vh;
    /* margin: 2rem; */
    
}

img {
    max-width: 50vw;
    border-radius: 10px;
    
}

#content {
    /* padding: 3rem; */
}


p {
    max-width: 50vw;
}