* {
    padding: 0;
    Margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    color: white;
    scroll-behavior: smooth;
}




#headBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-bottom: 2px;
    font-size: 20px;
    width: 100vw;
    color: black;
    background-color: rgb(0, 59, 0);
}



.navLinks {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-family: 'Teko', sans-serif;




}

li {
    list-style: none;
}

.landingArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url(/images/matrix.webp);
    color: Green;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
}


.aboutArea, .projectArea, .contactArea {
    background-color: #303030;
    padding: 3rem;
    font-family: 'Teko', sans-serif;
    font-size: 25px;

}

.projectArea {
    background-color: #404040;
    padding-top: 6rem;
}


.categories {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 75vh;
    border: solid 1px black;
    border-radius: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

label > input {
    height: 5vh;
    width: 40vw;
    border-radius: 10px;
}

textarea {
    height: 20vh;
    width: 40vw;
    border-radius: 10px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

a {
    text-decoration: none;
    color: white;

}

#goatTakes, #ticTacToe, #aboutContent, #expenseTracker, #realEstate, #what2eat {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10vh;
    align-items: center;
    gap: 25px;
    margin-top: 5vh;
}

img {
    max-width: 50vw;
}

p {
    max-width: 60vw;
    font-size: 35px;
    text-align: center;

}

#skillsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;

}

#skillsGrid > li {
    display: flex;
    background-color: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;


}

ul > a > img {
    width: 40px;
    height: 40px;
}

.navLinks > img {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;

}

.projectImage {
    border-radius: 10px;
    height: 30vh;
}

#whatEat {
height:45vh;

}

.clickable {
    background-color: rgb(0, 59, 0);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

button {
    width: 10vw;
    height: 10vh;
    border-radius: 6px;
    color: white;
    background-color: rgb(0, 59, 0);

}

button:hover {
    cursor: pointer;
}

input {
    color: black;
    padding: 5px;
}

input::placeholder {
    color: black;
}

textarea {
    color: black;
    padding: 5px;
}

iframe {
    border-radius: 10px;
    width: 50vw;
    height: 40vh;
}

h2 {
    font-size: 60px;
}

h1 {
    font-size: 70px;
}

#brainList > li  {
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 800px) {
    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 45px;
    }

    p {
        font-size: 30px;
    }
  }

@media (min-width: 600px) {
    nav > .menuIcon {
      display: none;
    }
  }

  @media (max-width: 600px) {

    .navMenu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color:rgb(0, 59, 0);
      width: 100vw;
      text-align: center;
      transition: 0.3s;
    }

    .navItem {
      margin: 16px 0;
    }

    .navMenu.active {
      left: 0;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 22px;
    }

    .clickable {
        padding: 0px;
    }

    form {
        margin: 0;
        padding: 0;
    }

    button {
        width: 30vw;
        height: 5vh;
    }

    #skillsGrid {
        padding: 10px;
        margin: 10px;
    }



    img {
        max-width: 90vw;
    }

    iframe {
        width: 90vw;
    }

    form {
        padding: 10px;
    }

    .contactArea {
        padding-top: 4rem;
    }





  }

  @media (max-width: 375px) {

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }


  }



